{% extends 'base.html' %}
{% load static %}

{% block title %}Panel Principal - ContaCloud{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static '/css/index.css' %}">
<div class="welcome-header">
    <h2>Estados Financieros</h2> 
  
</div>

<div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
    <div class="col">
        <a href="#" class="action-card">
            Balanace General
        </a>
    </div>
    <div class="col">
        <a href="#" class="action-card">
            Estado de Resultados
        </a>
    </div>
    <div class="col">
        <a href="#" class="action-card">
            Estado de Capital
        </a>
    </div>
</div>
{% endblock %}